.mainGerenciarUsuario {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.tituloGerenciar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    margin-left: 5%;
}

.tituloGerenciar .icon-user-plus {
    font-size: 50px;
    margin-right: 5%;
    cursor: pointer;
    transition: 300ms;
    color: #2e4959;
}

.tituloGerenciar .icon-user-plus:hover {
    color: #0a151f;
}

.menuGerenciar {
    margin-left: 1%;
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.rotulosGerenciar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.rotulosGerenciar span {
    font-size: 20px;
    font-weight: bold;
}

.cardUsuarioMenu {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: none;
}


th {
    background-color: white;
    color: black;
}

th span {
    font-size: 20px;
}

td {
    background-color: white;
    font-size: 16px;
}

.icon-user {
    font-size: 20px;
}

tr {
    height: 75px;
    border: 1px solid black;
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
}

.adicionarUsuario {
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 96vh;
    background-color: white;
    padding: 20px;
    border-radius: 45px 0px 0px 45px;
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.rotulosUsuario {
    gap: 10px;
    width: 100%;
    height: 40%;
    padding: 0 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rotulos {
    display: flex;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 6%;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

.rotulos label {
    flex-basis: 30%;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

.inputRotulos {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 14px;
    align-items: center;
    width: 100;
    margin-top: 0.5 rem;
    outline: none;
    flex-grow: 1;
    transition: border-color 0.3s ease;
}

.inputRotulos:focus {
    border-bottom-color: #007BFF;
}

.sections {
    display: none;
}

.tab-selection {
    display: flex;
    justify-content: center;
    gap: 38%;
    margin-top: 1rem;
}

.tab {
    padding: 10px;
    border: 1px solid #2e4959;
    border-radius: 5px;
    background-color: #2e4959;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.tab:hover {
    background-color: #1b313f;
}

.select-tab-hover {
    background-color: #1b313f;
    transform: scale(1.1);
}


.selectRotulos {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
    appearance: none;
    flex-shrink: 0;
}

.selectRotulos:focus {
    border-bottom-color: #007BFF;
}

.botaoCancelar {
    cursor: pointer;
    background-color: #9e9d9d;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.botaoCancelar:hover {
    background-color: #757575;
}

.botaoConfirmar {
    background-color: #6cca6f;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.botaoConfirmar:hover {
    background-color: #338d38;
}

.selecionar {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #2e4959;
    cursor: pointer;
    transition: transform 0.5s; /* Usando transform em vez de scale */
    flex-shrink: 0; /* Previne que os elementos encolham */
}

.selecionar_hover {
    transform: scale(1.3);
}