/** @format */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&family=Roboto+Slab:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --color01: #0a151f;
  --color02: #2e4959;
  --color03: #647d8c;
  --color-font: white;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e1e1e1;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  display: flex;
}

/* CSS NAVBAR E LOGO */

.itensDaNav {
  width: 100%;
  color: white;
  display: flex;
  text-decoration: none;
  gap: 10px;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  transition: 300ms;
}

.ico {
  display: block;
}

.itensDaNav:hover {
  font-size: 1.1rem;
}

#button-sair {
  display: none;
  color: black;
  text-decoration: none;
}

.menuLateral {
  background-color: #0a151f;
  height: 100%;
  width: 5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  transition: 0.5s;
  border-radius: 0 15px 15px 0px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.itens_menu {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#itens_menu .nome-acao {
  display: none;
}

.ico {
  font-size: 1.5rem;
  transition: 300ms;
}

.ico:hover {
  font-size: 1.8rem;
}

.ico img{
  width: 2rem;
  transition: 300ms;
}

#gerenciamento_user img{
  width: 2.5rem;
  transition: 300ms;
}

#gerenciamento_user img:hover{
  width: 2.8rem;
}

.ico img:hover{
  width: 2.3rem;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logotipo {
  width: 2.5rem;
  margin-top: 2rem;
}

.filtro {
  height: 10vh;
  background-color: #e1e1e1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.filtro_date {
  border-radius: 5px;
  width: 150px;
  height: 40%;
  text-align: center;
  font-size: 15px;
  align-items: end;
  height: 100%;
}

.input_filtro {
  border-radius: 5px;
  height: 40%;
  text-align: center;
  width: auto;
}

#campo_setor {
  display: none;
}

.inputs {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;
}

.input_data {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}

.pesquisa {
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 2%;
  gap: 1rem;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.superior-filtro {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.central-maquinas {
  width: 100%;
  height: 40%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.titulo-maquinas {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-add-maquinas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 9%;
  height: 20px;
  border-radius: 6px;
  border: none;
  background-color: #2e4959;
  color: white;
  font-size: 10px;
  cursor: pointer;
  box-shadow: -7px 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.button-add-maquinas .icon-plus {
  transform: rotate(0deg);
  font-size: 10px;
}

.button-add-maquinas:hover {
  background-color: #0a151f;
}

.titulo-maquinas h1 {
  font-size: 12px;
  margin-left: 6%;
}

.lista-maquinas {
  width: 90%;
  height: 25vh;
  display: flex;
  gap: 2%;
  margin-left: 6%;
  flex-wrap: nowrap;
  /* overflow: hidden; */
  overflow-x: auto;
  padding-right: 5%;
}

::-webkit-scrollbar {
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #2e495934;
  border-radius: 10px;
  transition: background-color 0.9s ease;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.9s ease;
  background-color: var(--color03);
}

::-webkit-scrollbar-track {
  width: 10px;
}

.card-acao {
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 90%;
  box-shadow: 2px 2px 2px 2px rgba(0.4, 0.4, 0.4, 0.4);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  background-color: white;
}

.card-acao:hover {
  scale: 1.02;
}

.card-acao p {
  font-size: 12px;
  line-height: 1%;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.bolinha {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #d2d2d2;
  content: '';
  animation: piscar 1s infinite;
  transition: 0.5s;
}

.bolinha_legenda {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #d2d2d2;
  content: '';
}

.graficos_esquerda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.graficos_esquerda h3 {
  margin: 0;
  width: 60%;
}

.grafico_direita {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.descricao-componenete {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grafico_geral{
  background-color: white;
  position: fixed;
  z-index: 999;
  height: 61vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.grafico_geral .grafico{
  width: 70%;
}

.icon-search {
  font-size: 1.3rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.icon-laptop1 {
  margin-top: 10%;
  height: 100%;
  width: 50%;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition: 0.5s;
  animation: piscar 1s infinite;
}

.descricao-laptop {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-around;
}

.menu-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.amostragem {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  transition: 0.5s;
}

.graficos {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  width: 65%;
  height: 95%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detalhes_maquinas {
  border-radius: 10px;
  padding: 0.5rem;
  width: 25%;
  height: 92%;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* sub menu */

.logo img {
  width: 3.5rem;
}

.logo span {
  font-size: 12px;
}

#seta {
  margin-top: 3rem;
  transform: rotate(270deg);
}

.icon-trash1 {
  color: black;
  padding: 0.5rem;
  font-size: 20px;
  transition: 0.5s;
}

.icon-pencil´ {
  color: black;
  padding: 0.5rem;
  font-size: 20px;
  transition: 0.5s;
}

.icon-pencil:hover,
.icon-trash1:hover {
  color: #dd5c00;
}

.icon-todos {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.lixeira-lapis {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: -60%;
  gap: 0.3rem;
}

#myChartDisco {
  width: 80%;
}

.janelas-e-detalhamentos-hardware {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
}

span {
  font-size: 11px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

th {
  background-color: #2e4959;
  color: white;
}

.kpi_setor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.kpi_setor h4 {
  text-align: center;
}

.informacoes_setor {
  height: 30%;
  width: 100%;
}

.informacoes_maquina {
  height: 70%;
  width: 100%;
}

.detalhes-hardware {
  text-align: left;
}

.corpo_inf {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.detalhes-hardware h4 {
  text-align: center;
}

.pesquisa-uso {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.pesquisa-uso thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pesquisa-uso h4 {
  text-align: center;
}

.container-tabela {
  width: 100%;
  height: 250px;
  overflow: auto;
}

.container-tabela::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


.pesquisa-inputs-uso {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
  background-color: #e1e1e163;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  align-items: center;
  padding: 5px 0;
}

.selecao {
  display: flex;
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: -12%;
}

.selecionar {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #2e4959;
  cursor: pointer;
  transition: 0.5s;
}

.selecionar_hover {
  scale: 1.3;
}

.pop-maquina {
  height: 50%;
  width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 10px 0px 20px;
}

.form .form-element {
  margin: 15px 0px;
}

.form .form-element label {
  font-size: 15px;
  color: black;
}

.form .form-element input {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  display: block;
}

.btm-confirmar {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: #2e4959;
  color: white;
  font-size: 15px;
  cursor: pointer;
  box-shadow: -7px 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.btm-confirmar:hover {
  background-color: #0a151f;
}

.tela-lista-processos {
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lista {
  width: 100%;
  height: 60%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.lista2 {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.descricao-titulo p {
  font-size: 10px;
  margin: 15px;
}

.barra-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4%;
  border-radius: 5px 5px 0 0;
  background-color: #647d8c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.lista_bloqueios {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-trash {
  cursor: pointer;
  font-weight: bold;
}

.lista h4 {
  margin: 2%;
  width: 100%;
  text-align: center;
}

.select_processo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.select_processo select {
  border-radius: 10px;
  text-align: center;
}

.processo {
  width: 55%;
  display: flex;
  margin: 2%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.3rem;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.processo span {
  width: 40%;
}

.xtela {
  transform: rotate(45deg);
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}



