/** @format */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainGerenciarUsuario {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.tituloGerenciar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  margin-left: 5%;
}

.tituloGerenciar .icon-user-plus {
  font-size: 50px;
  margin-right: 5%;
  cursor: pointer;
  transition: 300ms;
  color: #2e4959;
}

.tituloGerenciar .icon-user-plus:hover {
  color: #0a151f;
}

.menuGerenciar {
  margin-left: 1%;
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.rotulosGerenciar {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.rotulosGerenciar span {
  font-size: 20px;
  font-weight: bold;
}

.cardUsuarioMenu {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
}

th {
  background-color: white;
  color: black;
}

th span {
  font-size: 20px;
}

td {
  background-color: white;
  font-size: 16px;
}

.icon-user {
  font-size: 20px;
}

tr {
  height: 75px;
  border: 1px solid black;
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
}

.adicionarUsuario {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 96vh;
  background-color: white;
  padding: 20px;
  border-radius: 50px 0px 0px 50px;
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
}

.rotulosUsuario {
  width: 100%;
  height: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rotulos {
  display: flex;
  width: 110%;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.rotulos label {
  flex-basis: 30%;
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
}

.inputRotulos {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputRotulos:focus {
  border-bottom-color: #007bff;
}

.selectRotulos {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: transparent;
  appearance: none;
}

.selectRotulos:focus {
  border-bottom-color: #007bff;
}

.botaoCancelar {
  background-color: #b0b0b0;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.botaoCancelar:hover {
  background-color: #a0a0a0;
}

.botaoConfirmar {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.botaoConfirmar:hover {
  background-color: #45a049;
}
