/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  /* font-family: "Poppins", sans-serif; */
  border: 0;
  list-style: none;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color03);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color01);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color02);
}

:root {
  --color01: #0a151f;
  --color02: #2e4959;
  --color03: #647d8c;
  --color-font: white;
}

html {
  scroll-behavior: smooth;
}

.container_header_banner {
  width: 100%;
  margin: 0 auto;
  height: 90px;
  justify-content: center;
  background-color: #0a151f52;
  display: flex;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.changeStyle {
  background-color: #0a151f;
}

/* .changeStyle {
  background-color: #0d1a26dc;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.479);
} */

.ul_header {
  display: flex;
  align-items: center;
}

.logo img {
  margin-top: 9px;
  width: 4rem;
}

nav {
  overflow-y: hidden;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul_header a {
  color: var(--color-font);
  margin: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  transition: 0.5s;
}

.ul_header a:hover {
  color: #4d585f;
}

/* Header Resposivo */

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }

  .container_header_banner {
    height: 60px;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ul_header a {
    font-size: 0.8rem;
    display: flex;
    text-align: center;
  }
}

/* Header Resposivo */

.div_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 1;
}

.div_banner {
  display: flex;
  justify-content: space-around;
  height: 95vh;
  background-image: url(https://media.licdn.com/dms/image/D4D12AQF_g5sJtESoog/article-cover_image-shrink_720_1280/0/1697923771451?e=2147483647&v=beta&t=acEmlDyI6GDxhkr57kZQCJib9X5dfMxLP4IVg6Yy8ZI);
  background-size: cover;
  background-position: top;
  position: relative;
  align-items: center;
}

.container {
  height: 100%;
  width: 80%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div_banner_text {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40%;
  z-index: 2;
  text-align: center;
  color: var(--color-font);
}

.div_banner button {
  border: none;
  position: relative;
  text-align: center;
  transition: 800ms ease all;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  width: 20%;
  height: 8%;
  border-radius: 10px;
  color: white;
  background-color: var(--color02);
}

.div_banner button:hover {
  background: #2e49595e;
  color: #ffffff;
}

/* Banner Responsivo */

@media only screen and (max-width: 500px) {
  .div_banner {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .div_banner button {
    width: 10rem;
    font-size: 15px;
    height: 5%;
  }

  .div_banner_text {
    font-size: 1rem;
    width: 95%;
  }
}

/* Banner Responsivo */

hr {
  border: solid 1px var(--color02);
}

/* Nossos Produtos */

.about2{
  height: 90vh;
  width: 100%; 
  background-color: var(--color01);
  display: flex;
  flex-direction: row-reverse;
  
}

.backgroud-about2{
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.img-wrapper2{
   width: 70%;
   position: relative;
   border-radius: 10%;  
}

.img-wrapper2 img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   opacity: 70%;
}


.img-wrapper2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
  background: linear-gradient(.75turn, transparent 99%, black);
  
} 


.box-about2{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 3rem;
  color: white;

}

.box-about2 h1{
  color: white;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.text-nossos-produtos{
  width: 100%;
  color: white;
  text-align: justify;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 100;
  height: 100%;
}

/* fim */


/* Sobre Nós */

.sobrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color01);
  justify-content: space-evenly;
}

.sobrenos .container {
  width: 100%;
}

.sobrenos h1 {
  color: white;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}


.text-sobre-nos {
  width: 90%;
  color: white;
  height: 25vh;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}


/* .sobrenos p {
  font-size: 18px;
  background-color: white;
} */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 60%;
  width: 25%;
  border-radius: 10px;
  box-shadow: 1px 4px 10px var(--color03);
  background-color: var(--color02);
  color: white;
  gap: 2rem;
  padding: 1%;
}

/* Icones Section sobre nos */

.icon-rocket {
  font-size: 50px;
}

.icon-views {
  font-size: 50px;
}

.icon-diamond {
  font-size: 50px;
}

/* Icones Section sobre nos */

/* Sobre Nós Resposivo */

@media only screen and (max-width: 600px) {

  /* Icones Section sobre nos */

  .text-sobre-nos {
    font-size: 12px;
    margin-bottom: 1.5rem;
  }

  .icon-rocket {
    font-size: 30px;
  }

  .icon-views {
    font-size: 30px;
  }

  .icon-diamond {
    font-size: 30px;
  }

  /* Icones Section sobre nos */

  .sobrenos h1 {
    font-size: 20px;
    margin-top: 8%;
  }

  .sobrenos {
    height: 150vh;
  }

  .card {
    height: 60%;
    margin-bottom: 1rem;
  }


  .sobrenos h2 {
    font-size: 18px;
  }

  .card {
    width: 65%;
  }

  .cards-sobrenos {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .sobrenos .container {
    width: 100%;
  }



}


/* footer */

footer {
  background-color: var(--color01);
  color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.footer_cima {
  display: flex;
  justify-content: space-between;
  height: 25vh;
  align-items: start;
  margin-top: 2vh;
}

.footer_cima p {
  font-size: 15px;
}

.footer_cima01,
.footer_cima02,
.footer_cima03 {
  margin: 10px 40px 10px;
}

.footer_cima01 div {
  font-size: 15px;
}

.footer_cima01 {
  width: 22%;
}

.footer_titulo {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer_titulo02,
.footer_titulo03 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 20px;
}

.footer_cima03 a {
  text-decoration: none;
  color: white;
}

.footer_cima03 {
  text-align: center;
  width: 11%;
}

.footer_cima02 ul {
  list-style: none;
  font-size: 15px;
  columns: 2;
}

.icon .icon-mail,
.icon .icon-instagram1,
.icon .icon-linkedin1 {
  font-size: 25px;
}

.icons-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer_cima02 ul a {
  text-decoration: none;
  color: white;
}

.footer_baixo {
  font-size: 12px;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer_copyright {
  display: grid;
  align-content: end;
  width: 350px;
  margin: 0 0 5px 30px;
  font-size: 15px;
}


.footer_social {
  justify-content: center;
  align-content: center;
  display: grid;
  width: 25px;
  height: 25px;
}

.footer_baixo>ul>div>li {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 600px) {

  .footer_cima {
    height: 37vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .footer_cima01 h2 {
    font-size: 18px;
  }

  .footer_cima01 {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .footer_cima03 a {
    width: 100%;
    font-size: 15px;
  }

  .footer_cima03 {
    width: 100%;
  }

  .footer_baixo {
    height: 12vh;
  }

  .icons-footer {
    width: 100%;
    align-items: center;
  }

  .icon .icon-mail,
  .icon .icon-instagram1,
  .icon .icon-linkedin1 {
    font-size: 20px;
  }

}


 .containerChamado {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}

 .fecharAba {
  background-color: white;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}


 .containerAtendimento {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-completo{
  background-color: white;
  width: 40%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.fecharAbaAtendimento {
  font-size: 20px;
  width: 90%;
  background-color: white;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: end;
  cursor: pointer;
}



