/** @format */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&family=Roboto+Slab:wght@100;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");



:root {
  --color01: #0a151f;
  --color02: #2e4959;
  --color03: #647d8c;
  --color-font: white;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* CSS NAVBAR E LOGO */

.itensDaNav {
  width: 100%;
  color: white;
  display: flex;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  transition: 300ms;
}

.itensDaNav:hover {
  background-color: #647d8c;
  font-size: 2rem;
}

#button-sair {
  display: none;
  color: black;
  text-decoration: none;
}

.menuLateral {
  background-color: #0a151f;
  height: 100vh;
  width: 20vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border-radius: 0 15px 15px 0;
}


/* sub menu */

.div_dashboard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  transition: 0.5s;
  text-align: center;
}

.itens_menu {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#logotipo {
  width: 5rem;
  margin-bottom: -2rem;
}

.logo img {
  width: 3.5rem;
}

.logo span {
  font-size: 12px;
}

#seta {
  margin-top: 3rem;
  transform: rotate(270deg)
}

/* #sair {
  display: none;
} */

@media only screen and (max-width: 500px) {

  .menuLateral {
    display: none;
  }

  .div_dashboard {
    z-index: -1;
  }

  #button-sair {
    position: absolute;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 30px;
  }

}