/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  border: 0;
  list-style: none;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color01: #0a151f;
  --color02: #2e4959;
  --color03: #647d8c;
  --color-font: white;
}

html {
  scroll-behavior: smooth;
}

.container_header_banner {
  width: 100%;
  margin: 0 auto;
  height: 90px;
  justify-content: center;
  background-color: var(--color001);
  display: flex;
  z-index: 999;
  position: fixed;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.changeStyle {
  background-color: #0d1a26dc;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.479);
}

.ul_header {
  display: flex;
  align-items: center;
}

.logo {
  background-color: var(--color01);
  padding-top: 8px;
}

nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul_header a {
  color: var(--color-font);
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  transition: 0.5s;
}

.ul_header a:hover {
  color: #4d585f;
}

/* Header Resposivo */

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .container_header_banner {
    height: 60px;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ul_header a {
    font-size: 0.8rem;
    display: flex;
    text-align: center;
  }
}

/* Header Resposivo */

.div_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 1;
}

.div_banner {
  display: flex;
  justify-content: space-around;
  height: 95vh;
  background-image: url(https://media.licdn.com/dms/image/D4D12AQF_g5sJtESoog/article-cover_image-shrink_720_1280/0/1697923771451?e=2147483647&v=beta&t=acEmlDyI6GDxhkr57kZQCJib9X5dfMxLP4IVg6Yy8ZI);
  background-size: cover;
  background-position: top;
  position: relative;
  align-items: center;
}

.container {
  height: 100%;
  width: 80%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div_banner_text {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40%;
  z-index: 2;
  text-align: center;
  color: var(--color-font);
}

.div_banner button {
  border: none;
  position: relative;
  text-align: center;
  transition: 800ms ease all;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  width: 20%;
  height: 8%;
  border-radius: 10px;
  color: white;
  background-color: var(--color02);
}

.div_banner button:hover {
  background: #2e49595e;
  color: #ffffff;
}

/* Banner Responsivo */

@media only screen and (max-width: 600px) {
  .div_banner {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .div_banner button {
    width: 10rem;
    font-size: 15px;
    height: 5%;
  }
  .div_banner_text {
    font-size: 1rem;
    width: 95%;
  }
}

/* Banner Responsivo */

hr {
  border: solid 1px var(--color02);
}

/* Sobre Nós */

.proposito {
  width: 100%;
  height: 85vh;
  display: grid;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: var(--color01);
}

.proposito_titulo {
  margin-top: 3rem;
  display: block;
  text-align: center;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

.proposito h2 {
  font-style: italic;
  font-size: 18px;
  color: white;
}

.proposito_cardbox {
  display: flex;
  justify-content: space-around;
}

.proposito_card {
  width: 25%;
  height: 85%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 1px 4px 10px var(--color03);
  background-color: var(--color02);
}

.proposito_card h2 {
  margin-bottom: 15px;
}

.proposito_card_vetor {
  margin: 20px;
  width: 80px;
  height: 80px;
}

.propositos {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

/* footer */

footer {
  background-color: var(--color01);
  color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.footer_cima {
  display: flex;
  justify-content: space-between;
  height: 160px;
}

.footer_cima p {
  font-size: 15px;
}

.footer_cima01,
.footer_cima02,
.footer_cima03 {
  margin: 10px 40px 10px;
}

.footer_cima01 div {
  font-size: 15px;
}

.footer_titulo {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer_titulo02,
.footer_titulo03 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 20px;
}

.footer_cima02 ul {
  list-style: none;
  font-size: 15px;
  columns: 2;
}
.footer_cima02 ul a {
  text-decoration: none;
  color: white;
}
.footer_cima02 ul li::before {
  font-size: 18px;
  content: "> ";
  color: white;
  flex-shrink: 0;
}

.footer_linha {
  width: 100%;
  height: 1px;
  background-color: white;
}

.footer_baixo {
  padding: 20px 2px 10px;
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  display: grid;
  align-content: end;
  width: 350px;
  margin: 0 0 5px 30px;
  font-size: 15px;
}

.footer_medias {
  margin-right: 20px;
  list-style: none;
  display: flex;
}

.footer_circle {
  margin: 0 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-content: center;
  display: grid;
}

.footer_social {
  justify-content: center;
  align-content: center;
  display: grid;
  width: 25px;
  height: 25px;
}

.footer_baixo > ul > div > li {
  width: 25px;
  height: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color03);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color01);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color02);
}
